html
  head
    title= 'Resizr'
  body
    form(method='POST' action='/' enctype="multipart/form-data")
      label(for='picture') Picture &nbsp;
      input(type='file' id='picture' name='picture')
      input(type='submit' value='Submit')
